.hybridauth-modal .ui-dialog-titlebar {
  background-color: #999;
}
.hybridauth-modal {
  padding: 10px;
  background-color: #000;
}
.hybridauth-modal .ui-dialog-content {
  background-color: #fff;
  border: 0;
  padding-bottom: 20px;
}
